@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}
.container{
    width: 100%;
    margin: 0 auto;
    background-color: #190a32;
    color: white;
    padding: 10px;
    font-family: "Inter", sans-serif;
}
.display-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-column{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.btn{
      background:linear-gradient(
  90deg,
  #F7E93F 0%,
  #FB09B4 50%,
  #9100F8 100%);
     border-radius: 100px;
     color:white;
     padding: 10px 20px;
     border: none;
     margin-right: 10px;
}
.btn2{
    border-radius: 100px;
     color:green;
     padding: 10px 20px;
     border: 1px solid green;
     background-color: transparent;
}
.title{
    font-size:2rem;
    font-weight: 900;


}
.nav-container{
padding: 20px;
}
.logo{font-size:2rem ;
    font-weight: 900;

}
.nav-container span{
    color:magenta;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    margin-right: 16px;
}
.hamburger{
    display: none;
}
/*banner*/
.banner-container{
    background-image: url(../assets/Vector.png),url(../assets/hero-bg.png);
    background-position: center center ,center top;
    background-repeat: 
    no-repeat;
    background-size:350px,cover;
    padding: 30px;
    height: 500px;
   

}








@media screen and (max-width:576px){
    .menu{
        display: none;
    }
    .nav-btn{
        display: none;
    }
    .hamburger{
        display: inline;
    }
}