@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}
.container{
    width: 100%;
    margin: 0 auto;
    background-color: #190a32;
    color: white;
    padding: 10px;
    font-family: "Inter", sans-serif;
}
.display-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-column{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.btn{
      background:linear-gradient(
  90deg,
  #F7E93F 0%,
  #FB09B4 50%,
  #9100F8 100%);
     border-radius: 100px;
     color:white;
     padding: 10px 20px;
     border: none;
     margin-right: 10px;
}
.btn2{
    border-radius: 100px;
     color:green;
     padding: 10px 20px;
     border: 1px solid green;
     background-color: transparent;
}
.title{
    font-size:2rem;
    font-weight: 900;


}
.title-sm{
     font-size:1.25rem;
    font-weight: 700;
    margin-bottom: 10px;

}
.nav-container{
padding: 20px;
}
.logo{font-size:2rem ;
    font-weight: 900;

}
.nav-container span{
    color:magenta;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    margin-right: 16px;
}
.hamburger{
    display: none;
}
/*banner*/
.banner-container{
    background-image:url(../assets/hero-bg.png);
    background-position: center ;
    background-repeat: 
    no-repeat;
    background-size:cover;
    padding: 30px;
    max-height: 700px ;
position: relative;
}
.banner{
    background-image: url(../assets/Vector.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
     background-size:contain;
    margin: 0 auto;
    text-align: center;
}
 .banner img{
    padding: 20px;
 }   

.badge{

position: absolute;
    top: 30;
    right: 600;
    padding: 5px;
    background-color: rgb(11, 128, 0);
    border-radius: 25px;
    border: none;
    color: white;
}
.card-container{
    margin-top: 70px;
    padding: 20px;
    text-align: center;
}
.information{
    max-width: 650px;
    font-size: 0.75rem;
    color: rgb(182, 168, 168);
}
.cards{
    gap: 40px;
    padding: 10px;
    border-top: 1px solid rgb(182, 168, 168);
    margin-top: 50px;
}
.card{
    padding: 30px;
    color: green;
}
/*grid container*/
.grid-container{
    margin-top: 70px;
    background-color: #1f0a32;
    padding: 30px;

}
.grid-container h1,.video-container h1{
    text-align: center;
    padding-top: 50px;
}
.grid{margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,auto);
    gap: 30px; 
}
.grid>div,.videos{
    background-color: #190a32;
    border-radius: 35px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}
.grid>div>img{width: 40px;

}
.grid-information{
    width: 100%;
}
.grid-1{
    grid-row: span 2;   
}

.grid-2,.grid-3{
    grid-column: span 2;
}
.grid-4{
    grid-column: span 2;
}
/*video container*/
.videos{
    flex-direction: row;
}
.video{
    background-color: #1f0a32;
    padding: 20px 30px;
    border-radius: 35px;
    height: auto;
}
.video iframe{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    
}
.video p{
    margin: 10px 0;
}


@media screen and (max-width:576px){
    .menu{
        display: none;
    }
    .nav-btn{
        display: none;
    }
    .hamburger{
        display: inline;
    }
.badge{

position: absolute;
    top: 35;
    right: 180;
   
}

.cards{
    flex-wrap: wrap;
}
.grid{
    grid-template-columns: repeat(1,1fr);
   
    gap: 10px; 
}
.videos{
    flex-wrap: wrap;
}
}